/*************************
COLOR PALETTE
http://www.materialpalette.com/blue/amber

Primary Blue: #2196F3
Primary Dark Blue: #1976D2
Accent Amber: #FFC107
Primary Text: #212121
Secondary Text: #727272
Light Primary Blue: #BBDEFB
Text/Icons: #FFFFFF
Divider Color: #B6B6B6

******************************/
/*************************
  SITEWIDE LAYOUT STYLES
**************************/

body {
  display: flex;
  min-height: 100vh;
  flex-flow: column nowrap;
  font-family: 'Questrial', Helvetica, Arial;
  color: #212121;
}

p {
  color: #212121;
  line-height: 1.4;
  margin: 1% 0 2% 0;
  font-size: .9em;
}

strong {
  color: tomato;
}

main {
  flex: 1;
  background: url('../images/clouds-bg.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainContent {
  display: flex;
  flex-flow: column;
  align-self: baseline;
  background-color: #FFF;
  max-width: 80%;
  border-radius: 5px;
  padding: 3%;
  margin: 8% 2%;
}

header {
  background-color: #2196F3;
  height: 250px;
}

header a {
  text-decoration: none;
}

.siteName {
  font-family: 'Oswald', Helvetica, Arial;
  font-weight: 400;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  font-size: 6em;
  margin: 15px 0 5px 0;
}

.tagline {
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 2em;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 50px;
  background: #1976D2;
}

footer div {
  padding: 10px;
  margin: 0px;
  color: #FFF;
}

footer a {
  text-decoration: none;
}

.foot-logo {
  font-family: 'Oswald', Helvetica, Arial;
  font-weight: 400;
  margin-right: auto;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
}

.foot-logo a {
  color: #FFF
}

button {
  width: 100%;
  padding: 3%;
  margin: 1% 2%;
  border: 0px;
  border-radius: 5px;
  font-size: 2.5em;
}

/**** ALL FORMS *****/

legend {
  font-size: 1.75em;
  color: #000;
  margin-bottom: 10px;
}

label {
  font-size: .8rem;
  color: #727272;
}

input {
  display: block;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
}

/******************************
  HOMEPAGE FEATURES
*****************************/


#remindButton {
  background-color: #1976D2;
  color: #FFFFFF;
  width: 97%;
}

#scheduleButton {
  background-color: #FFC107;
  color: #FFFFFF;
  width: 97%;
}

#howItWorks {
  font-size: small;
  padding: 3%;
  margin: 1% 2%;
}
