/*************************
    FONTS
**************************/

@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Questrial);

/*************************
  SITEWIDE LAYOUT STYLES
**************************/

body {
  background: url('images/clouds-bg.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Questrial', Helvetica, Arial;
  color: black;
}

header {
  background-color: #3498DB;
  height: 150px;
}

header h1 {
  font-family: 'Oswald', Helvetica, Arial;
  font-weight: 400;
  color: white;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  font-size: 3.5em;
  margin-top: 0;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #3498DB;
  min-height: 200px;
}

footer div {
  padding: 10px;
  margin: 5px;
  color: white;
}

.foot-logo {
  margin-right: auto;
}


/******************************
  HOMEPAGE FEATURES
*******************************/

.tagline {
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 1em;
}
